@import "bootstrap";

/* Global Variables */
:root {
    --primary-gold: #f59e0b;
    --gold-dark: #d97706;
    --gold-light: #fbbf24;
    --gold-pale: #fef3c7;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --bg-light: #f9fafb;
}
* {
    font-family: "Poppins", sans-serif;
}
html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    line-height: 2;
}

section {
    margin-top: 120px;
}

h2 span {
    color: var(--gold-light);
}

ul li {
    list-style: none;
    margin: 0 !important;
}

/* Button */
.btn-gold {
    background-color: var(--primary-gold) !important;
    font-weight: 600 !important;
    padding: 8px 16px !important;
}
.btn-gold:hover {
    background-color: var(--gold-dark) !important;
    color: #fff !important;
}

/* Navbar  */
.navbar {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}
.navbar-brand,
.nav-link {
    color: var(--bg-light) !important;
}
.navbar-brand span {
    color: var(--gold-light);
}

.nav-link:hover {
    color: var(--gold-light) !important;
}

/* Hero Section */
.carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.carousel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.carousel-item .overlay {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
}

/* About Section */
.about .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    padding: 10px 0;
}
.about .card:hover {
    transform: translateY(-10px);
}
.icon-circle {
    width: 80px;
    height: 80px;
    background-color: var(--primary-gold);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}
.about ul li i {
    color: var(--primary-gold);
    margin-right: 8px;
}
/* Package Section */
.package-icon {
    list-style: none;
    padding: 0;
    margin: 0;
}
.package-icon li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.package-icon li i {
    color: var(--primary-gold);
    margin-right: 8px;
}

/* Contact Section */
.contact-info {
    border-bottom: 1px solid var(--bg-light);
    padding: 12px;
    border-radius: 6px;
}
.contact-info:hover {
    background-color: var(--gold-pale);
    transform: translateY(-10px);
    cursor: pointer;
}

/* Footer */
.footer {
    padding: 40px;
}
.footer a {
    color: #ffffff !important;
    text-decoration: none;
}

.footer a:hover {
    color: #fbbf24 !important;
    text-decoration: underline;
}
